@model MaxCoViewModels
@{
    decimal? total = 0;
}
@if (Model.OrderProducts.Count != 0)
{
    <div class="main-container container">
        <div class="row">
            <table class="table" id="order-table">
                @foreach(var order in Model.OrderProducts)
                {
                    <tr class="table-products">
                        <form onkeydown="return event.key != 'Enter';">
                            <input asp-for="@order.OrderId" type="hidden" class="form-control "/>
                            <input asp-for="@order.ProductName" type="hidden" class="form-control"/>
                            <td class="table-image">
                                <img src="~/images/@order.ProductImage" class="order-image"/>
                            </td>
                            <td class="table-text">
                                <label>@order.ProductName</label>    
                            </td>
                            <td class="table-text">
                                <label class="product-price d-flex align-items-center">@order.ProductPrice kr</label>
                            </td>
                            <td class="table-text">
                                <input asp-for="@order.ProductId" type="hidden" class="form-control product-id" />
                                <input asp-for="@order.ProductPrice" type="hidden" class="form-control product-price"/>
                                <input type="number" min="1" asp-for="@order.Quantity" class="order-product-quantity form-control d-flex align-items-center"/>
                            </td>
                            <td class="table-text">
                                <button type="submit" class="btn btn-danger d-flex align-items-center" asp-controller="Order" asp-action="DeleteItem">
                                    Delete Item
                                </button>
                            </td>
                        </form>
                    </tr>
                }
            </table>
            
        </div>
    </div>
    <p type="text" class="insert-total">Total: 00,00 kr</p>
    <form asp-action="Delete" asp-controller="Order" role="form">
        <input asp-for="@Model.OrderProducts[0].OrderId" type="hidden" class="form-control"/>
        <button type="submit" class="btn btn-danger">
            Empty cart
        </button>
    </form>
    <form asp-action="Finalize" asp-controller="Order" role="form">
        <button type="submit" class="btn btn-success">Check out</button>
    </form>
}
else
{
    <div>
        <h1>Your cart is empty</h1>
    </div>
}